h1 {
    text-align: center;
}

#container {
    width: 100%;
}

.side-by-side {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

h3 {
    font-weight: 500;
}

ol,
ul {
    font-weight: 300;
    padding: 10px;
    list-style-position: inside;
}

ol {
    border: 1px solid red;
    border-radius: 15px;
}

ul {
    border: 1px dashed red;
    border-radius: 15px;
    list-style-type: upper-roman;
}

#bottom-link {
    width: 100%;
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
}

a:hover {
    text-decoration: underline;
}
